.editor {
  padding: 0.25rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.editor > * {
  flex: 0 0 auto;
}

.editor > .editor-tabs {
  flex: 1 1 auto;
}

.editor > * + * {
  margin-top: 0.375rem;
}

.editor-header {
  display: flex;
  padding: 0.5rem 0.375rem;
  gap: 0.25rem;
  align-items: baseline;
  align-items: last baseline;
  justify-content: space-between;
  border-radius: var(--rounded);
}

.editor-header > * {
  flex: 0 0 auto;
}

.editor-header > .editor-title {
  flex: 1 1 auto;
  font-size: var(--text-sm);
  min-height: var(--text-sm);
  hyphens: auto;
}

.editor-tabs {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  min-height: 0;
}

.editor-tabs > * {
  flex: 0 0 auto;
}

.editor-tabs > .editor-tabs-content {
  flex: 1 1 auto;
}

.editor-tabs-content {
  padding-left: 0.125rem;
  padding-right: 0.625rem;
}

.editor-tabs > * + * {
  margin-top: 0.375rem;
}

.editor-placeholder {
  text-align: center;
  padding: 1rem;
}

.stats {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.stats strong {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--text-xs);
}

.group-title {
  font-size: var(--text-xs);
  font-weight: 600;
  margin: 0.5rem 0 0.25rem;
  color: var(--palette-3);
}
