.container > * + * {
  margin-top: 1rem;
}

.header {
  padding-bottom: 1rem;
  text-align: center;
}

.title {
  display: inline-block;
  font-size: var(--text-lg);
}

.upgrades {
  list-style: none;
}

.upgrades > * + * {
  margin-top: 1rem;
}

.upgrade-tooltip {
  width: max(24rem, 33.333dvw);
  max-width: 32rem;
  z-index: 80;

  @media screen and (max-width: 36rem) {
    display: none;
  }
}

.upgrade-tooltip > * {
  box-shadow: var(--shadow-lg);
  border-radius: var(--rounded);
}

.upgrade-tooltip > * + * {
  margin-top: 0.375rem;
}

.quantity {
  background: var(--palette-0);
  color: var(--text);
  padding: 0.25rem;
  border-radius: var(--rounded);
  text-shadow: none;
  opacity: 0.85;

  &:hover {
    opacity: 1;
    transition: opacity 0.2s;
  }
}
