.format-toggle {
  margin-bottom: 0.375rem;
  text-align: center;
}

.tree {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  gap: 0.375rem;
  min-height: 0;
  padding: 0.375rem 0.625rem;
  position: relative;
  font-size: var(--text-sm);
}

.node {
  margin-left: calc(var(--depth, 0) * 0.5rem);
}

.node.depth-1 {
  border-bottom: 1px solid var(--palette-3);
}

.node.depth-3 {
  font-size: var(--text-xs);
  border-left: 1px solid var(--palette-1);
}

.node-icon {
  color: var(--palette-three-point-five);
}

.node-link {
  display: block;
  color: currentColor;
  text-decoration: none;
  padding: 0.625rem;
  background-color: var(--palette-0);

  & :first-child {
    margin-right: 0.375rem;
  }
}

.node.active > .node-link {
  font-weight: 700;
  background-color: var(--palette-1);
}

.node:hover:not(:has(.node:hover)) > .node-link {
  background-color: var(--palette-point-five);
}

.node:hover:not(:has(.node:hover)),
.node.active {
  & > .node-link > .node-icon {
    color: var(--text);
  }
}

.children {
  list-style: none;
}
