.title {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: center;
}

.title-icon {
  flex: 0 0 auto;
}

.title-icon img {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}
